@tailwind base;
@tailwind utilities;

button {
  font-weight: inherit;
}

*:focus,
button:focus,
a:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.default-transition {
  @apply transition-all ease-in-out duration-300;
}
